<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span v-if="islogin">welcome</span>
        <!-- <span>登陆</span> -->
    </div>
    <div id="qq" v-if="random>0.5 ?ture: false">dayude</div>
    <div v-else>xxxxxxxxxx</div>
    <script src="js/vue.js"></script>
    <script>
        new Vel({ 
            el:'#app',
            data:{
                islogin:false
            }

        })
        new Vel({
            el:'#qq',
            data:{
                random = Math.random()
            }
        })
    </script>
</body>
</html>